.each-form-card{
    text-align: left;
    border-radius: 7px;
}

.each-form-card p{
    margin-left: 1em;
    
}
.each-form-card p:first-child{
    padding-top: 1em;
}
.each-form-card p{
    padding-top: 2em;
}
.each-form-card button{
    border-style: none;
    background-color: cyan;
    border-radius: 3px;
    margin-top: 2em;
    margin-left: 70%;
    cursor: pointer;
}