body{
    margin: 0;
    box-sizing: border-box;
    color: orange !important;
}
*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper-all-form{
margin: 2em 1em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}
.each-card-wrpaper{
    width: 25%;
    min-height: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 7px;
    margin-left: 1em;
}
.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 10px 0px;  
    
}
.header p{
    margin-left: 1em;
    font-size: large;
}
.header button{
    border-style: none;
    background-color: cyan;
    border-radius: 7px;
    padding: 7px;

    margin-right: 1em;
    cursor: pointer;
}