div img{
    width: 1em;
    cursor: pointer;
}
.formview-area{
display: flex;
justify-content: center;
width: 80%;
flex-direction: column;

}
.wrapper-formsec{
    display: flex;
    justify-content: space-around;
}
.view-section-left{
width: 30%;
}

.view-section-right{
    width: 70%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-section-right p{
    text-align: center;
  
}
